*{
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body{
    max-width: 80%;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.overlayHide{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.0);
  z-index: 2;
  transition-property: all;
  transition-duration: 5s;
}
.overlayShow{
  position: fixed;
  display: flex;  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1.5s;
}
#contentheadeWraper{
    display: flex;
    flex-direction: column;
    width: 100;
    margin:2em 0;
}
#title{
    width: 100%;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #4c5056;
    font-family:font-family: 'Muli', sans-serif;
}
#search{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
#employeesProfilesContainer{
    width: 100%;
    margin:1em auto;
    padding: 0;
    display: grid;
    grid-gap: 20px;
 
}

.cards{
    display: flex;
    flex-direction: row;
    height: 150px;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}
.cards:hover{
    transform: scale(1.05);
    box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition-property: all;
    transition-duration: .6s;
}
.profilePicture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-grow: 1fr;
}
.cardsInfo{
    width: 1fr;
    margin-left: 15px;
    text-align: left;
}
.names{
    font-weight: bold;
    color: #393e44;
}
.emails, 
.cities{
    color:silver;
}
.names,
.cities{
    text-transform: capitalize;
}

.modal{
    display: inline-block;
    background:#fff;
    min-width: 300px;
    border-radius: 10px;
    width: 30%;
    height: 70%; 
    margin: auto;
    padding: 1em;
    transition-property: all;
    transition-duration: 7s;
}
.modalContent{
    width: 100%;
    height: 100%;
    padding: 0;
}
.modalPicture{
    border-radius: 50%;
    margin-top: 1.5em;
}
.close{
    float: right;
    font-size: 2em;
    color: #393e44;
}

.close:hover{
    cursor: pointer;
    
}

.leftArrow{
    float: left;
     margin-top: 50%;
    font-size: 3em;
    color: silver;
    padding: 0;
    
}

.rightArrow{
    float: right;
    margin-top: 50%;
     font-size: 3em;
    color: silver
}

.modalInfo2{
    border-top: 1px solid silver;
    align-self: center;
    width: 90%;
    margin:auto;
}

.modalnames{
    text-transform: capitalize;
    font-weight: 700;
    color: #393e44;
}
.modalemails,
.modalcities,
.modalInfo2{
    color: silver;
}

@media screen and (min-width: 800px) {
    #contentheadeWraper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #title{
        width: 50%;
        
    }
    #search{
       
        width: 50%;
    }
    #employeesProfilesContainer{
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-gap: 20px;
    }
   
}



@media screen and (min-width: 960px) {
    #title{
    text-align: left;
}
    #employeesProfilesContainer{
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, 1fr));
        grid-gap: 20px;
    }


}